<div class="form-container">

  <div class="form-titre">
    <h1>Modifier votre vehicules</h1>
  </div>



  <div class="form-formulaire">
    <%= simple_form_for @vehicule do |f| %>
      <p>Marque *</p>
      <%= f.collection_select :marque, ['Abarth', 'Alfa Romeo', "Fiat", "Ford", "Jeep", "Suzuki"], :to_s, :titleize, { prompt: 'Sélectionner la marque' } %>
      <%= f.input :modele, placeholder: 'Modele' %>
      <p>Boite *</p>
      <%= f.collection_select :boite, ['Manuelle', 'Automatique'], :to_s, :titleize, { prompt: 'Sélectionner la boite' } %>
      <p>Carburant *</p>
      <%= f.collection_select :carburant, ['Essence', 'Diesel', 'Hybride'], :to_s, :titleize, { prompt: 'Sélectionner un carburant' } %>
      <%= f.input :kilometrage, placeholder: 'Kilometrage' %>
      <%= f.input :enregistrement, placeholder: 'enregistrement' %>
      <%= f.input :puissancech, placeholder: 'puissancech' %>
      <%= f.input :puissancecv, placeholder: 'puissancecv' %>
      <%= f.input :taille, placeholder: 'taille du moteur' %>
      <%= f.input :couleur, placeholder: 'couleur' %>
      <%= f.input :prix, placeholder: 'Prix' %>
      <p>Carrosserie *</p>
      <%= f.collection_select :carrosserie, ['Break', 'Familialle','Berline' ,'Hatchback' ,'Coupé' ,'Cabriolet' ,'SUV' ,'Crossover' ,'Multi-Purpose' ,'Berline de luxe' ,'Sport' ,'Électrique' ,'Hybride' ].sort_by(&:downcase), :to_s, :titleize, { prompt: 'Sélectionner la carrosserie' } %>
      <%= f.input :proprietaires, placeholder: 'proprietaires' %>
      <%= f.input :dioxy, placeholder: 'dioxy' %>
      <%= f.input :portes, placeholder: 'portes' %>
      <%= f.input :places, placeholder: 'places' %>
      <p>Description *</p>
      <%= f.text_area :description, placeholder: 'Votre text...', class: "com-textarea" %>
      <%= f.input :photo, as: :file %>
      <%= f.input :pictures, as: :file, input_html: { multiple: true } %>

      <div class="form-input">
        <%= f.button :submit, value: 'Validation' %>
      </div>
    <% end %>
  </div>

</div>
