

<div class="index-container">

  <div class="index-titre">
    <h1>Les occasions</h1>
  </div>



  <!-- FILTER -->
  <div class="petit-btn-filter-et-form" data-controller="filter">

    <div class="petit-btn-filter" data-action="click->filter#openBigFilter" data-filter-target="sectionBtnFilter">
      <span>Filtrer</span>
    </div>

    <form class="index-filter-container d-none" data-filter-target="sectionBigFilter">
      <div class="index-filter-content">
        <div class="filter-croix" data-action="click->filter#closeBigFilter">
          <i class="fa-sharp fa-solid fa-xmark"></i>
        </div>

        <div class="content-filter">
          <div class="filter-part-1">

            <select name="marque">
              <option value="">Marque</option>
              <option value="Alfa Romeo" <%= 'selected' if params[:marque] == 'Alfa Romeo' %>>Alfa Romeo</option>
              <option value="Fiat" <%= 'selected' if params[:marque] == 'Fiat' %>>Fiat</option>
              <option value="Jeep" <%= 'selected' if params[:marque] == 'Jeep' %>>Jeep</option>
              <!-- Autres options ici... -->
            </select>



            <select name="carburant">
              <option value="">Carburant</option>
              <option value="Essence" <%= 'selected' if params[:carburant] == 'Essence' %>>Essence</option>
              <option value="Diesel" <%= 'selected' if params[:carburant] == 'Diesel' %>>Diesel</option>
              <option value="Hybride" <%= 'selected' if params[:carburant] == 'Hybride' %>>Hybride</option>
            </select>




            <select name="boite">
              <option value="">Boite</option>
              <option value="Manuelle" <%= 'selected' if params[:boite] == 'Manuelle' %>>Manuelle</option>
              <option value="Automatique" <%= 'selected' if params[:boite] == 'Automatique' %>>Automatique</option>
            </select>

          </div>



          <div class="filter-part-2">

            <div>
              <label for="prix_min">Prix minimum :</label>
              <input type="number" step="500" name="prix_min" style="text-align: center;" value="<%= number_with_delimiter(params[:prix_min], delimiter: ' ') %>">


            </div>


            <div>
              <label for="prix_max">Prix maximum :</label>
              <input type="number" step="500" name="prix_max" value="<%= params[:prix_max] %>">
            </div>


            <div>
              <label for="kilometrage">Kilometrage Max:</label>
              <input type="number" name="kilometrage" value="<%= params[:kilometrage] %>">
            </div>

          </div>
        </div>



        <!-- Autres filtres ici... -->

        <div class="filter-two-btn">
          <div></div>
          <input type="submit" value="Filtrer">
          <a onclick="window.location.href='/vehicules'"><i class="fa-solid fa-arrow-rotate-left" style="color: #ffffff;"></i></a>
        </div>
      </div>

    </form>

  </div>



  <!-- FIN FILTER -->

  <!-- SI AUCUNE VOITURE -->


  <% if flash[:notice].present? %>
    <div class="index-aucun-vehicule">
      <p><%= flash[:notice] %></p>
    </div>
  <% end %>

  <!-- all VOITURE -->

  <div class="grid-index">
    <% @vehicules.each do |vehicule| %>

      <%= link_to vehicule_path(vehicule), class: "link-card" do%>

        <div class="index-card">


          <% if vehicule.photo.present? %>
            <%= cl_image_tag vehicule.photo.key, height: 200, width: 280, crop: :fill, class: "index-img" %>
          <% else %>
            <p>Image non disponible</p>
          <% end %>

          <div class="big-font">
            <div class="index-card-titre">
              <p><%= vehicule.marque %> <%= vehicule.modele %></p>
            </div>
            <%# <p><strong>2.0 TB VELOCE 4d 277 BHP</strong></p>
            <p>3000€ D’EXTRAS</p> %>
          </div>


          <div class="index-card-tag little-font">
            <p><%= vehicule.enregistrement %></p>
            <p><%= vehicule.boite %></p>
            <p><%= vehicule.taille %> ltr</p>
            <p><%= number_with_delimiter(vehicule.kilometrage.to_i, delimiter: ' ') %> km</p>



          </div>

          <div class="index-card-prix">
            <p class="big-font"><p><%= number_with_delimiter(vehicule.prix.to_i, delimiter: ' ') %> €</p>
          </div>

          <div class="index-card-btn little-font">
            <p>Détail</p>
          </div>
        </div>

        <br><br><br>
      <% end %>
    <% end %>

  </div>
</div>
