

<div class="index-container">

  <div class="index-titre">
    <h1>Les occasions</h1>
  </div>

  <form>
    <label for="marque">Marque :</label>
    <select name="marque">
      <option value="">-- Sélectionner une marque --</option>
      <option value="Alfa Romeo" <%= 'selected' if params[:marque] == 'Alfa Romeo' %>>Alfa Romeo</option>
      <option value="Fiat" <%= 'selected' if params[:marque] == 'Fiat' %>>Fiat</option>
      <option value="Jeep" <%= 'selected' if params[:marque] == 'Jeep' %>>Jeep</option>
      <!-- Autres options ici... -->
    </select>

    <br>

    <label for="carburant">Carburant :</label>
    <select name="carburant">
      <option value="">-- Choisissez un carburant --</option>
      <option value="Essence" <%= 'selected' if params[:carburant] == 'Essence' %>>Essence</option>
      <option value="Diesel" <%= 'selected' if params[:carburant] == 'Diesel' %>>Diesel</option>
      <option value="Hybride" <%= 'selected' if params[:carburant] == 'Hybride' %>>Hybride</option>
    </select>


    <br>

    <label for="boite">Boite :</label>
    <select name="boite">
      <option value="">-- Choisissez un boite --</option>
      <option value="Manuelle" <%= 'selected' if params[:boite] == 'Manuelle' %>>Manuelle</option>
      <option value="Automatique" <%= 'selected' if params[:boite] == 'Automatique' %>>Automatique</option>
    </select>


    <br>

    <label for="prix_min">Prix minimum :</label>
    <input type="number" step="1000" name="prix_min" value="<%= params[:prix_min] %> " >

    <br>

    <label for="prix_max">Prix maximum :</label>
    <input type="number" step="1000" name="prix_max" value="<%= params[:prix_max] %>">

    <br>

    <label for="kilometrage">Kilometrage Max:</label>
    <input type="number" step="1000" name="kilometrage" value="<%= params[:kilometrage] %>">

    <br>

    <!-- Autres filtres ici... -->

    <input type="submit" value="Filtrer">
    <button type="button" onclick="window.location.href='/vehicules'">Réinitialiser les filtres</button>
  </form>



  <div class="grid-index">
    <% @vehicules.each do |vehicule| %>

      <%= link_to vehicule_path(vehicule), class: "link-card" do%>

        <div class="index-card">


          <% if vehicule.photo.present? %>
            <%= cl_image_tag vehicule.photo.key, height: 200, width: 280, crop: :fill, class: "index-img" %>
          <% else %>
            <p>Image non disponible</p>
          <% end %>

          <div class="big-font">
            <div class="index-card-titre">
              <p><%= vehicule.marque %> <%= vehicule.modele %></p>
            </div>
            <%# <p><strong>2.0 TB VELOCE 4d 277 BHP</strong></p>
            <p>3000€ D’EXTRAS</p> %>
          </div>


          <div class="index-card-tag little-font">
            <p><%= vehicule.enregistrement %></p>
            <p><%= vehicule.boite %></p>
            <p><%= vehicule.taille %> ltr</p>
            <p><%= number_with_delimiter(vehicule.kilometrage.to_i, delimiter: ' ') %> km</p>



          </div>

          <div class="index-card-prix">
            <p class="big-font"><p><%= number_with_delimiter(vehicule.prix.to_i, delimiter: ' ') %> €</p>
          </div>

          <div class="index-card-btn little-font">
            <p>Détail</p>
          </div>
        </div>

        <br><br><br>
      <% end %>
    <% end %>

  </div>
</div>
