

<div class="index-container">

  <div class="index-titre">
    <h1>Nos occasions</h1>
  </div>

  <div class="grid-index">
    <% @vehicules.each do |vehicule| %>

      <%= link_to vehicule_path(vehicule), class: "link-card" do%>

        <div class="index-card">


          <% if vehicule.photo.present? %>
            <%= cl_image_tag vehicule.photo.key, height: 200, width: 280, crop: :fill, class: "index-img" %>
          <% else %>
            <p>Image non disponible</p>
          <% end %>

          <div class="big-font">
          <div class="index-card-titre">
            <p><%= vehicule.marque %> <%= vehicule.modele %></p>
          </div>
            <p><strong>2.0 TB VELOCE 4d 277 BHP</strong></p>
            <p>3000€ D’EXTRAS</p>
          </div>


          <div class="index-card-tag little-font">
            <p><%= vehicule.enregistrement %></p>
            <p><%= vehicule.boite %></p>
            <p><%= vehicule.taille %> ltr</p>
            <p><%= sprintf("%.2f", vehicule.kilometrage) %> kms</p>


          </div>

          <div class="index-card-prix">
            <p class="big-font"><p><%= sprintf("%.2f", vehicule.prix) %>€</p>
          </div>

          <div class="index-card-btn little-font">
            <p>Détail</p>
          </div>
        </div>

        <br><br><br>
      <% end %>
    <% end %>

  </div>
</div>
