<div class="vshow-container">

  <div class="vshow-titre">
    <h1><%= @vehicule.marque %> &nbsp; <%= @vehicule.modele %></h1>

  </div>

  <div class="vshow-droite-gauche">

    <div class="vshow-gauche">

      <% if @vehicule.photo.present? %>
        <%= cl_image_tag @vehicule.photo.key, height: 400, width: 560, crop: :fill %>
      <% else %>
        <p>Image non disponible</p>
      <% end %>

      <% @vehicule.pictures.each do |picture| %>
        <%= cl_image_tag picture.key, height: 40, width: 56, crop: :fill %>
      <% end %>



      <div class="vshow560">
        <div class="vshow-prix">
          <p><%= number_with_delimiter(@vehicule.prix.to_i, delimiter: ' ') %> €</p>

        </div>
        <div class="vshow-back">
          <%= link_to vehicules_path, class: "deco-none" do %>
            <i class="fa-solid fa-arrow-left" style="color: #ffffff;"></i>
          <% end %>
        </div>
      </div>

    </div>

    <div class="vshow-droite">
      <div class="vshow-box-droite">
        <p><span class="vshow-span-tableau">Marque: </span></p>
        <p><span class="vshow-span-tableau">Modele: </span></p>
        <p><span class="vshow-span-tableau">Boite: </span></p>
        <p><span class="vshow-span-tableau">Carburant: </span></p>
        <p><span class="vshow-span-tableau">Kilometrage: </span></p>
        <p><span class="vshow-span-tableau">Enregistrement: </span></p>
        <p><span class="vshow-span-tableau">Puissance ch: </span></p>
        <p><span class="vshow-span-tableau">Puissance cv: </span></p>
        <p><span class="vshow-span-tableau">Taille: </span></p>
        <p><span class="vshow-span-tableau">Couleur: </span></p>
        <p><span class="vshow-span-tableau">Carrosserie: </span></p>
        <p><span class="vshow-span-tableau">Ancien proprietaires: </span></p>
        <p><span class="vshow-span-tableau">CO2: </span></p>
        <p><span class="vshow-span-tableau">Nombre de portes: </span></p>
        <p><span class="vshow-span-tableau">Nombre de places: </span></p>
      </div>

      <div class="vshow-box-droite">
        <p><%= @vehicule.marque %></p>
        <p><%= @vehicule.modele %></p>
        <p><%= @vehicule.boite %></p>
        <p><%= @vehicule.carburant %></p>
        <p><%= number_with_delimiter(@vehicule.kilometrage.to_i, delimiter: ' ') %> km</p>
        <p><%= @vehicule.enregistrement %></p>
        <p><%= @vehicule.puissancech %> ch</p>
        <p><%= @vehicule.puissancecv %> cv</p>
        <p><%= @vehicule.taille %> L</p>
        <p><%= @vehicule.couleur %></p>
        <p><%= @vehicule.carrosserie %></p>
        <p><%= @vehicule.proprietaires %></p>
        <p><%= @vehicule.dioxy %> g /km</p>
        <p><%= @vehicule.portes %></p>
        <p><%= @vehicule.places %></p>
      </div>
    </div>

  </div>
</div>
