<div class="piece-container">

  <div class="piece-titre">
    <h1>Nos pieces</h1>
  </div>


  <div class="piece-index">
    <% @pieces.each do |piece| %>
      <%= link_to piece_path(piece), class: "link-card" do%>
        <div class="piece-card">
          <%= cl_image_tag piece.photo.key, height: 200, width: 280, crop: :fill, class: "index-img piece-margin-b" %>
          <p> <%= piece.nom %> </p>
          <p> <%= piece.description %> </p>
          <p> <%= piece.prix %> </p>
          <div class="index-card-btn little-font">
            <p>Détail</p>
          </div>
        </div>
      <% end %>
    <% end %>
  </div>

</div>
