<h1>pieces index</h1>


<% @pieces.each do |piece| %>
  <%= link_to piece_path(piece) do%>
    <br><br><br>
    <p>------------------</p>
    <p> <%= piece.nom %> </p>
    <%= cl_image_tag piece.photo.key, height: 200, width: 280, crop: :fill, class: "index-img" %>
    <p> <%= piece.description %> </p>
    <p> <%= piece.prix %> </p>
    <p style="background-color: #666; padding: 16px 8px;">plus d'info</p>
    <p>------------------</p>
  <% end %>
<% end %>
