<div class="com-contener">

  <div class="com-titre">
    <h1>ici ca com sec 🥵</h1>
  </div>


  <div class="com-droite-gauche-content">

    <div class="com-part-gauche">
      <% @commentaires.each do |commentaire| %>
        <div class="com-part-gauche-com-seul">
          <p> <strong><span class="com-nom"><%= commentaire.nom %> <%= commentaire.prenom %></span></strong></p>
          <p> <%= commentaire.text %> </p>
          <p> <span class="com-date"><%= commentaire.created_at %></span> </p>
          <div class="com-part-gauche-com-rep-seul">
            <p>Admin: <%= commentaire.reponse %></p>
          </div>
        </div>

      <% end %>
    </div>


    <div class="com-part-droite">
      <%= simple_form_for @commentaire, html: { class: "com-form" } do |f| %>
        <h2>Votre commentaire</h2>
        <%= f.input :nom, placeholder: 'Nom', input_html: { maxlength: 20 } %>
        <%= f.input :prenom, placeholder: 'Prenom', input_html: { maxlength: 20 } %>
        <%= f.input :email, placeholder: 'exemple@gmail.com' %>
        <p>Votre text</p>
        <%= f.text_area :text, placeholder: 'Votre text...', class: "com-textarea" %>
        <div class="com-submit">
          <%= f.submit %>
        </div>
      <% end %>
    </div>

  </div>
</div>
