<div class="com-contener">

  <div class="com-titre">
    <h1>ici ca com sec 🥵</h1>
  </div>


  <div class="com-droite-gauche-content">

    <div class="com-part-gauche">
      <% @commentaires.each do |commentaire| %>
        <br><br><br>
        <p> <%= commentaire.nom %> <%= commentaire.prenom %></p>
        <p> <%= commentaire.text %> </p>
        <p> <%= commentaire.created_at %> </p>
      <% end %>
    </div>


    <div class="com-part-droite">
      <h1>ajoutez votre commentaire</h1>
      <%= simple_form_for @commentaire do |f| %>
        <%= f.input :nom, placeholder: 'Nom', input_html: { maxlength: 20 } %>
        <%= f.input :prenom, placeholder: 'Prenom', input_html: { maxlength: 20 } %>
        <%= f.input :email, placeholder: 'exemple@gmail.com' %>
        <%= f.input :text, placeholder: 'Votre text...' %>
        <%= f.submit %>
      <% end %>
    </div>

  </div>
</div>
