
<% if video_path("mainvideo.mp4").present? %>

  <div class="hero-video">
    <%= video_tag "mainvideo.mp4", type: "video/mp4", autoplay: true, controls: true, loop: true, muted: true, id: "home-videoo", preload: "auto", playsinline: true %>

    <div class="ball-big-contener">
      <div class="ball-contener">
        <div class="ball">
          <div class="cheveron-down">
            <i class="fa-solid fa-chevron-down" style="color: #ffffff;"></i>
          </div>
        </div>
      </div>
    </div>

    <div class="home-gray-bar">
    </div>
  </div>

<% else %>
  <div class="hero-image">
    <%= image_tag "alfaMainImg.jpg" %>
  </div>
<% end %>









<!-- test carrou -->
<div class="carrou-body">

  <div>
    <h2>Dernier arrivage</h2>
  </div>


  <div class="carrou-container">

    <% @vehicules.each do |vehicule| %>
      <%= link_to vehicule_path(vehicule), class:"carrou-card" do%>

          <h3 class="carrou-title"><%= vehicule.marque %></h3>
          <h5 class="carrou-subtitle"><%= vehicule.modele %></h5>
          <div class="carrou-bar">
            <div class="carrou-emptybar"></div>
            <div class="carrou-filledbar"></div>
          </div>
          <div class="carrou-circle">
            <%= cl_image_tag vehicule.photo.key, height: 100, width: 140, crop: :fill, class: "carrou-img" %>
          </div>

      <% end %>
    <% end %>


  </div>

</div>
