

<div class="hero-video">
  <%= video_tag "mainvideomute.mp4", type: "video/mp4", autoplay: true, loop: true, muted: true, id: "home-videoo", preload: "auto", playsinline: true %>




  <div class="text-sur-video">
    <h1>
      <div class="text-sur-video-div-a-flex">
        <div class="text-sur-video-planete">Planète</div>
        <div><span>a</span>lfa</div>
      </div>
    </h1>
  </div>

  <div class="ball-big-contener">
    <div class="ball-contener">
      <div class="ball">
        <a href="#who" class="cheveron-down">
          <i class="fa-solid fa-chevron-down" style="color: #ffffff;"></i>
        </a>
      </div>
    </div>
  </div>

  <div class="home-gray-bar">
  </div>
</div>






<!-- Qui sommes nous ? (who) + carrou pour bgc -->
<div class="home-bgc-grisf">


  <!-- ---------------------------- -->
  <!-- ---------------------------- -->
  <!-- QUI SOMMES NOUS ?? (WHO) -->
  <!-- ---------------------------- -->
  <!-- ---------------------------- -->

  <div class="who-container" id="who">

    <div class="who-titre">

      <div class="scroll-container">
        <div class="scroll-text">
          <h2>Planète Alfa</h2>
        </div>
      </div>

    </div>


    <div class="who-gauche-droite">

      <div class="who-gauche">
        <%= image_tag "who2.jpg", height: 400, width: 560, crop: :fill, class:"who-gauche-img" %>
      </div>

      <div class="who-droite">
        <div class="who-droite-text">
          <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Sit, quam. Fugit, impedit mollitia totam sapiente voluptatem atque ipsam quia ipsum et fugiat nihil assumenda in consectetur dolorem. Itaque, non nemo.<br></p>
          <p>Lorem <span class="home-who-text-rouge">ipsum</span> dolor sit, amet consectetur adipisicing elit. Iure ipsa aliquam suscipit ex laboriosam officiis quisquam harum amet autem dolores accusamus nihil iste eaque quo tenetur quaerat, eveniet nobis dolore?</p>
          <div class="div-btn-pa">
            <%= link_to "Prendre contact", about_path, class:"btn-pa" %>
          </div>
        </div>
      </div>

    </div>

  </div>

  <!-- SCRIPT QUI SOMMES NOUS ?? (title / img / txt) -->

  <script>
    window.addEventListener('scroll', function() {
      var scrollPosition = window.scrollY;
      var scrollTitre = document.querySelector('.scroll-text');

      if (scrollPosition > 120) {
        scrollTitre.classList.add('show');
      } else {
        scrollTitre.classList.remove('show');
      }
    });

    if (window.innerWidth > 640) {
      window.addEventListener('scroll', function() {
        var scrollPosition = window.scrollY;
        var scrollImg = document.querySelector('.who-gauche img');

        if (scrollPosition > 390) {
          scrollImg.classList.add('show');
        } else {
          scrollImg.classList.remove('show');
        }
      });
    }



    window.addEventListener('scroll', function() {
      var scrollPosition = window.scrollY;
      var scrollText = document.querySelector('.who-droite-text');

      if (scrollPosition > 600) {
        scrollText.classList.add('show');
      } else {
        scrollText.classList.remove('show');
      }
    });


  </script>


  <!-- ---------------------------- -->
  <!-- ---------------------------- -->
  <!-- NOS VEHICULES  -->
  <!-- ---------------------------- -->
  <!-- ---------------------------- -->


  <div class="home-vehicules-container" id="#">

    <div class="home-vehicules-titre">

      <div class="scroll-container">
        <div class="text-home-vehicule">
          <h2>Nos Vehicules</h2>
        </div>
      </div>

    </div>


    <div class="home-vehicules-gauche-droite">

      <div class="home-vehicules-gauche">
        <div class="home-vehicules-gauche-text">
          <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Minima quia fugit expedita perspiciatis adipisci, explicabo quos nemo corrupti facere atque nulla quis repellat quas inventore aspernatur deserunt dolore. Doloremque, maxime!<br></p>
          <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Inventore nulla quibusdam neque, tempora tenetur error, ducimus culpa, esse cumque cupiditate itaque reiciendis ratione adipisci dolorem libero perferendis ipsum? Porro, aliquam.</p>
          <div class="div-btn-pa">
            <%= link_to "Nos Vehicules", vehicules_path, class:"btn-pa" %>
          </div>
        </div>
      </div>

      <div class="home-vehicules-droite">
        <%= image_tag "home_nv.png", height: 400, width: 560, crop: :fill, class:"home-vehicules-droite-img" %>
      </div>

    </div>

  </div>

  <!-- SCRIPT NOS VEHICULES (title img  txt) -->

  <script>
    window.addEventListener('scroll', function() {
      var scrollPosition = window.scrollY;
      var scrollTitre = document.querySelector('.text-home-vehicule');

      if (scrollPosition > 1015) {
        scrollTitre.classList.add('show');
      } else {
        scrollTitre.classList.remove('show');
      }
    });


    window.addEventListener('scroll', function() {
      var scrollPosition = window.scrollY;
      var scrollImg = document.querySelector('.home-vehicules-droite-img');

      if (scrollPosition > 1300) {
        scrollImg.classList.add('show');
      } else {
        scrollImg.classList.remove('show');
      }
    });




    window.addEventListener('scroll', function() {
      var scrollPosition = window.scrollY;
      var scrollText = document.querySelector('.home-vehicules-gauche-text');
      console.log(scrollPosition);

      if (scrollPosition > 1188) {
        scrollText.classList.add('show');
      } else {
        scrollText.classList.remove('show');
      }
    });


  </script>



  <!-- test carrou -->




  <div class="carrou-body">


    <div>
      <h2>Les derniers arrivages</h2>
    </div>

    <div class="container">
        <input type="radio" name="slider" id="item-1" checked>
        <input type="radio" name="slider" id="item-2">
        <input type="radio" name="slider" id="item-3">
      <div class="cards">
        <label class="card" for="item-1" id="song-1">
          <%= cl_image_tag @vehicule1.photo.key %>
        </label>
        <label class="card" for="item-2" id="song-2">
          <%= cl_image_tag @vehicule2.photo.key %>
        </label>
        <label class="card" for="item-3" id="song-3">
          <%= cl_image_tag @vehicule3.photo.key %>
        </label>
      </div>
      <div class="player">
        <div class="upper-part">

          <div class="info-area" id="test">

            <label class="song-info" id="song-info-1">
              <div class="flex">
                <div class="title"><%= @vehicule1.marque %></div>
                <div class="title"><%= @vehicule1.modele %></div>
              </div>
              <div class="flex-bas">
                <div class="time"><%= number_with_precision(@vehicule1.kilometrage.to_i, precision: 0, delimiter: ' ', separator: '.') %> Km</div>
                <div class="carrou-link">
                  <div class="div-btn-pa">
                    <%= link_to "Voir +", vehicule_path(@vehicule1), class:"btn-pa" %>
                  </div>
                </div>
              </div>
            </label>

            <label class="song-info" id="song-info-2">
              <div class="flex">
                <div class="title"><%= @vehicule2.marque %></div>
                <div class="title"><%= @vehicule2.modele %></div>
              </div>
              <div class="flex-bas">
                <div class="time"><%= number_with_precision(@vehicule2.kilometrage, precision: 0, delimiter: ' ', separator: '.') %> Km</div>
                <div class="carrou-link">
                  <div class="div-btn-pa">
                    <%= link_to "Voir +", vehicule_path(@vehicule2), class:"btn-pa" %>
                  </div>
                </div>
              </div>
            </label>

            <label class="song-info" id="song-info-3">
              <div class="flex">
                <div class="title"><%= @vehicule3.marque %></div>
                <div class="title"><%= @vehicule3.modele %></div>
              </div>
              <div class="flex-bas">
                <div class="time"><%= number_with_delimiter(@vehicule3.kilometrage.to_i, delimiter: ' ', separator: '.', precision: 0) %> Km</div>


                <div class="carrou-link">
                  <div class="div-btn-pa">
                    <%= link_to "Voir +", vehicule_path(@vehicule3), class:"btn-pa" %>
                  </div>
                </div>
              </div>
            </label>

          </div>
        </div>
      </div>
    </div>

  </div>

  <!-- script du carroussel entier -->
  <script>
    window.addEventListener('scroll', function() {
      var scrollPosition = window.scrollY;
      var scrollCarrou = document.querySelector('.carrou-body');

      if (scrollPosition > 1889) {
        scrollCarrou.classList.add('show');
      } else {
        scrollCarrou.classList.remove('show');
      }
    });
  </script>

  <div class="home-ns-container">
    <div class="home-ns-content">
      <div class="home-ns-title">Nos Services</div>

      <div class="home-ns-list-container">

        <div class="home-ns-carre-text">
          <div class="home-ns-carre"></div>
          <p>Reprogrammation</p>
        </div>

        <div class="home-ns-carre-text">
          <div class="home-ns-carre"></div>
          <p>Service carte grise</p>
        </div>

        <div class="home-ns-carre-text">
          <div class="home-ns-carre"></div>
          <p>Extension de garantie</p>
        </div>

        <div class="home-ns-carre-text">
          <div class="home-ns-carre"></div>
          <p>Clé de voiture</p>
        </div>

        <div class="home-ns-carre-text">
          <div class="home-ns-carre"></div>
          <p>Préparation pré-contrôle technique</p>
        </div>

        <div class="home-ns-carre-text">
          <div class="home-ns-carre"></div>
          <p>Financement avec Financo</p>
        </div>


      </div>

      <div class="home-ns-btn-container">
        <%= link_to "Nos services", services_path %>
      </div>

    </div>
  </div>




</div>


<!-- test new carrou  -->

<script src="https://cdnjs.cloudflare.com/ajax/libs/gsap/2.0.2/TweenMax.min.js"></script>
<div class="container-carroux">
	<header class="c-header c-header--archive c-header--project-list">
		<div class="c-mouse-vertical-carousel js-carousel u-media-wrapper u-media-wrapper--16-9">
			<ul class="c-mouse-vertical-carousel__list js-carousel-list">
				<li class="c-mouse-vertical-carousel__list-item js-carousel-list-item" data-item-id="0">
					<a href="">
						<p class="c-mouse-vertical-carousel__eyebrow u-b4">
							<span>
                        01
                    </span> Nevada
						</p>

						<p class="c-mouse-vertical-carousel__title u-a5">
							Carson City
						</p>
					</a>
				</li>

				<li class="c-mouse-vertical-carousel__list-item js-carousel-list-item" data-item-id="1">
					<a href="">
						<p class="c-mouse-vertical-carousel__eyebrow u-b4">
							<span>
                        02
                    </span> New Hampshire
						</p>

						<p class="c-mouse-vertical-carousel__title u-a5">
							Concord
						</p>
					</a>
				</li>

				<li class="c-mouse-vertical-carousel__list-item js-carousel-list-item" data-item-id="2">
					<a href="">
						<p class="c-mouse-vertical-carousel__eyebrow u-b4">
							<span>
                        03
                    </span> New York
						</p>

						<p class="c-mouse-vertical-carousel__title u-a5">
							Albany
						</p>
					</a>
				</li>

				<li class="c-mouse-vertical-carousel__list-item js-carousel-list-item" data-item-id="3">
					<a href="">
						<p class="c-mouse-vertical-carousel__eyebrow u-b4">
							<span>
                        04
                    </span> Oklahoma
						</p>

						<p class="c-mouse-vertical-carousel__title u-a5">
							Oklahoma City
						</p>
					</a>
				</li>

				<li class="c-mouse-vertical-carousel__list-item js-carousel-list-item" data-item-id="4">
					<a href="">
						<p class="c-mouse-vertical-carousel__eyebrow u-b4">
							<span>
                        05
                    </span> North Carolina
						</p>

						<p class="c-mouse-vertical-carousel__title u-a5">
							Raleigh
						</p>
					</a>
				</li>

				<li class="c-mouse-vertical-carousel__list-item js-carousel-list-item" data-item-id="5">
					<a href="">
						<p class="c-mouse-vertical-carousel__eyebrow u-b4">
							<span>
                        06
                    </span> Utah
						</p>

						<p class="c-mouse-vertical-carousel__title u-a5">
							Salt Lake City
						</p>
					</a>
				</li>

				<li class="c-mouse-vertical-carousel__list-item js-carousel-list-item" data-item-id="6">
					<a href="">
						<p class="c-mouse-vertical-carousel__eyebrow u-b4">
							<span>
                        07
                    </span> Missouri
						</p>

						<p class="c-mouse-vertical-carousel__title u-a5">
							Jefferson City
						</p>
					</a>
				</li>
			</ul>

      <i class="c-mouse-vertical-carousel__bg-img js-carousel-bg-img" style="background-image: url('<%= cl_image_path(@vehicule1.photo.key) %>');"></i>
      <i class="c-mouse-vertical-carousel__bg-img js-carousel-bg-img" style="background-image: url('<%= cl_image_path(@vehicule2.photo.key) %>');"></i>
      <i class="c-mouse-vertical-carousel__bg-img js-carousel-bg-img" style="background-image: url('<%= cl_image_path(@vehicule3.photo.key) %>');"></i>
      <i class="c-mouse-vertical-carousel__bg-img js-carousel-bg-img" style="background-image: url('<%= cl_image_path(@vehicule4.photo.key) %>');"></i>
      <i class="c-mouse-vertical-carousel__bg-img js-carousel-bg-img" style="background-image: url('<%= cl_image_path(@vehicule5.photo.key) %>');"></i>
      <i class="c-mouse-vertical-carousel__bg-img js-carousel-bg-img" style="background-image: url('<%= cl_image_path(@vehicule6.photo.key) %>');"></i>
      <i class="c-mouse-vertical-carousel__bg-img js-carousel-bg-img" style="background-image: url('<%= cl_image_path(@vehicule7.photo.key) %>');"></i>
			<i class="c-gradient-overlay"></i>
		</div>
	</header>
</div>

<script>
  class VerticalMouseDrivenCarousel {
    constructor(options = {}) {
      const _defaults = {
        carousel: ".js-carousel",
        bgImg: ".js-carousel-bg-img",
        list: ".js-carousel-list",
        listItem: ".js-carousel-list-item",
      };

      this.defaults = Object.assign({}, _defaults, options);
      this.posY = 0;
      this.currentId = 0;
      this.autoScrollInterval = null; // Variable pour l'intervalle automatique

      this.initCursor();
      this.init();
      this.bgImgController();
      this.startAutoScroll(); // Démarre le défilement automatique
    }

    //region getters
    getBgImgs() {
      return document.querySelectorAll(this.defaults.bgImg);
    }

    getListItems() {
      return document.querySelectorAll(this.defaults.listItem);
    }

    getList() {
      return document.querySelector(this.defaults.list);
    }

    getCarousel() {
      return document.querySelector(this.defaults.carousel);
    }

    // Initialisation
    init() {
      TweenMax.set(this.getBgImgs(), {
        autoAlpha: 0,
        scale: 1.05,
      });

      TweenMax.set(this.getBgImgs()[0], {
        autoAlpha: 1,
        scale: 1,
      });

      this.listItems = this.getListItems().length - 1;
      this.listOpacityController(0);
    }

    // Gestion du curseur
    initCursor() {
      const listHeight = this.getList().clientHeight;
      const carouselHeight = this.getCarousel().clientHeight;

      this.getCarousel().addEventListener(
        "mousemove",
        (event) => {
          this.stopAutoScroll(); // Arrête l'auto-scroll lors de l'interaction
          this.posY = event.pageY - this.getCarousel().offsetTop;
          let offset = (-this.posY / carouselHeight) * listHeight;

          TweenMax.to(this.getList(), 0.3, {
            y: offset,
            ease: Power4.easeOut,
          });
        },
        false
      );

      this.getCarousel().addEventListener("mouseleave", () => {
        this.startAutoScroll(); // Redémarre l'auto-scroll lorsque la souris quitte
      });
    }

    // Contrôle des images de fond
    bgImgController() {
      for (const link of this.getListItems()) {
        link.addEventListener("mouseenter", (ev) => {
          this.stopAutoScroll(); // Arrête l'auto-scroll lors de l'interaction

          let currentId = ev.currentTarget.dataset.itemId;
          this.listOpacityController(currentId);

          TweenMax.to(".is-visible", 0.2, {
            autoAlpha: 0,
            scale: 1.05,
          });

          if (!this.getBgImgs()[currentId].classList.contains("is-visible")) {
            this.getBgImgs()[currentId].classList.add("is-visible");
          }

          TweenMax.to(this.getBgImgs()[currentId], 0.6, {
            autoAlpha: 1,
            scale: 1,
          });
        });
      }
    }

    // Contrôle des opacités des éléments de liste
    listOpacityController(id) {
      id = parseInt(id);
      let aboveCurrent = this.listItems - id;
      let belowCurrent = parseInt(id);

      if (aboveCurrent > 0) {
        for (let i = 1; i <= aboveCurrent; i++) {
          let opacity = 0.5 / i;
          let offset = 5 * i;
          TweenMax.to(this.getListItems()[id + i], 0.5, {
            autoAlpha: opacity,
            x: offset,
            ease: Power3.easeOut,
          });
        }
      }

      if (belowCurrent > 0) {
        for (let i = 0; i <= belowCurrent; i++) {
          let opacity = 0.5 / i;
          let offset = 5 * i;
          TweenMax.to(this.getListItems()[id - i], 0.5, {
            autoAlpha: opacity,
            x: offset,
            ease: Power3.easeOut,
          });
        }
      }
    }

    // Défilement automatique
    startAutoScroll() {
      if (this.autoScrollInterval) return;

      this.autoScrollInterval = setInterval(() => {
        this.currentId = (this.currentId + 1) % this.getListItems().length;
        this.listOpacityController(this.currentId);

        TweenMax.to(".is-visible", 0.2, {
          autoAlpha: 0,
          scale: 1.05,
        });

        if (!this.getBgImgs()[this.currentId].classList.contains("is-visible")) {
          this.getBgImgs()[this.currentId].classList.add("is-visible");
        }

        TweenMax.to(this.getBgImgs()[this.currentId], 0.6, {
          autoAlpha: 1,
          scale: 1,
        });
      }, 3000); // Change tous les 3 secondes
    }

    // Arrête le défilement automatique
    stopAutoScroll() {
      clearInterval(this.autoScrollInterval);
      this.autoScrollInterval = null;
    }
  }

  new VerticalMouseDrivenCarousel();

</script>
