
<% if video_path("mainvideo.mp4").present? %>

  <div class="hero-video">
    <%= video_tag "mainvideo.mp4", type: "video/mp4", autoplay: true, controls: true, loop: true, muted: true, id: "home-videoo", preload: "auto", playsinline: true %>

    <div class="text-sur-video">
      <h1>Planète <span>a</span>lfa</h1>
      <h2>Cucq</h2>
    </div>

    <div class="ball-big-contener">
      <div class="ball-contener">
        <div class="ball">
          <div class="cheveron-down">
            <i class="fa-solid fa-chevron-down" style="color: #ffffff;"></i>
          </div>
        </div>
      </div>
    </div>

    <div class="home-gray-bar">
    </div>
  </div>

<% else %>
  <div class="hero-image">
    <%= image_tag "alfaMainImg.jpg" %>
  </div>
<% end %>


<%# <div class="scrl-container">
  <div class="scrl-blockHorizontal">
    <div class="scrl-slide scrl-one">A propos</div>
    <div class="scrl-slide scrl-two">

    </div>
    <div class="scrl-slide scrl-three">Slide3</div>
    <div class="scrl-slide scrl-four">Slide4</div>
  </div>
</div> %>








<!-- test carrou -->




<div class="carrou-body">

  <div>
    <h2>Dernier arrivage</h2>
  </div>

  <div class="container">
      <input type="radio" name="slider" id="item-1" checked>
      <input type="radio" name="slider" id="item-2">
      <input type="radio" name="slider" id="item-3">
    <div class="cards">
      <label class="card" for="item-1" id="song-1">
        <%= cl_image_tag @vehicule1.photo.key %>
      </label>
      <label class="card" for="item-2" id="song-2">
        <%= cl_image_tag @vehicule2.photo.key %>
      </label>
      <label class="card" for="item-3" id="song-3">
        <%= cl_image_tag @vehicule3.photo.key %>
      </label>
    </div>
    <div class="player">
      <div class="upper-part">

        <div class="info-area" id="test">

          <label class="song-info" id="song-info-1">
            <div class="flex">
              <div class="title"><%= @vehicule1.marque %></div>
              <div class="title"><%= @vehicule1.modele %></div>
            </div>
            <div class="flex-bas">
              <div class="time"><%= @vehicule1.kilometrage %> Km</div>
              <div class="carrou-link">
                <%= link_to "voir+", vehicule_path(@vehicule1) %>
              </div>
            </div>
          </label>

          <label class="song-info" id="song-info-2">
            <div class="flex">
              <div class="title"><%= @vehicule2.marque %></div>
              <div class="title"><%= @vehicule2.modele %></div>
            </div>
            <div class="flex-bas">
              <div class="time"><%= @vehicule2.kilometrage %> Km</div>
              <div class="carrou-link">
                <%= link_to "voir+", vehicule_path(@vehicule2) %>
              </div>
            </div>
          </label>

          <label class="song-info" id="song-info-3">
            <div class="flex">
              <div class="title"><%= @vehicule3.marque %></div>
              <div class="title"><%= @vehicule3.modele %></div>
            </div>
            <div class="flex-bas">
              <div class="time"><%= @vehicule3.kilometrage %> Km</div>
              <div class="carrou-link">
                <%= link_to "voir+", vehicule_path(@vehicule3) %>
              </div>
            </div>
          </label>

        </div>
      </div>
    </div>
  </div>
</div>




<script>
  const firstDiv = document.querySelector('.hero-video');
  const secondDiv = document.querySelector('.carrou-body');

  firstDiv.addEventListener('wheel', (event) => {
    if (event.deltaY > 0) {
      event.preventDefault();
      secondDiv.scrollIntoView({ behavior: 'smooth' });
    }
  });
</script>
