

<div class="hero-video">
  <%= video_tag "mainvideomute.mp4", type: "video/mp4", autoplay: true, loop: true, muted: true, id: "home-videoo", preload: "auto", playsinline: true %>




  <div class="text-sur-video">
    <h1>
      <div class="text-sur-video-div-a-flex">
        <div class="text-sur-video-planete">Planète</div>
        <div><span>a</span>lfa</div>
      </div>
    </h1>
  </div>

  <div class="ball-big-contener">
    <div class="ball-contener">
      <div class="ball">
        <a href="#who" class="cheveron-down">
          <i class="fa-solid fa-chevron-down" style="color: #ffffff;"></i>
        </a>
      </div>
    </div>
  </div>

  <div class="home-gray-bar">
  </div>
</div>






<!-- Qui sommes nous ? (who) + carrou pour bgc -->
<div class="home-bgc-grisf">
  <!-- Qui sommes nous ? (who) -->

  <div class="who-container" id="who">

    <div class="who-titre">

      <div class="scroll-container">
        <div class="scroll-text">
          <h2>Qui sommes nous ?</h2>
        </div>
      </div>

    </div>


    <div class="who-gauche-droite">

      <div class="who-gauche">
        <%= image_tag "who2.jpg", height: 400, width: 560, crop: :fill, class:"who-gauche-img" %>
      </div>

      <div class="who-droite">
        <div class="who-droite-text">
          <p>Située entre <span class="home-who-text-rouge">Cucq</span> et Trépied<br>Notre concession <span class="home-who-text-rouge">Planète Alfa</span> vous accueille avec plaisir<br>au: 801 Avenue Maxence Van Der Meersch, 62780 Cucq<br></p>
          <p>Notre équipe est à votre disposition pour répondre à toutes vos questions et vous aider à trouver <span class="home-who-text-rouge">la voiture de vos rêves</span>.</p>
          <p>N'hésitez pas à nous rendre visite ou à nous contacter pour plus d'informations.</p>
        </div>
      </div>

    </div>

    <div class="home-ruban">
    </div>

  </div>


  <!-- script du Titre / Image / Text -->

  <script>
    window.addEventListener('scroll', function() {
      var scrollPosition = window.scrollY;
      var scrollTitre = document.querySelector('.scroll-text');

      if (scrollPosition > 120) {
        scrollTitre.classList.add('show');
      } else {
        scrollTitre.classList.remove('show');
      }
    });

    if (window.innerWidth > 640) {
      window.addEventListener('scroll', function() {
        var scrollPosition = window.scrollY;
        var scrollImg = document.querySelector('.who-gauche img');

        if (scrollPosition > 390) {
          scrollImg.classList.add('show');
        } else {
          scrollImg.classList.remove('show');
        }
      });
    }



    window.addEventListener('scroll', function() {
      var scrollPosition = window.scrollY;
      var scrollText = document.querySelector('.who-droite-text');

      if (scrollPosition > 600) {
        scrollText.classList.add('show');
      } else {
        scrollText.classList.remove('show');
      }
    });


  </script>



  <!-- test carrou -->




  <div class="carrou-body">


    <div>
      <h2>Les derniers arrivages</h2>
    </div>

    <div class="container">
        <input type="radio" name="slider" id="item-1" checked>
        <input type="radio" name="slider" id="item-2">
        <input type="radio" name="slider" id="item-3">
      <div class="cards">
        <label class="card" for="item-1" id="song-1">
          <%= cl_image_tag @vehicule1.photo.key %>
        </label>
        <label class="card" for="item-2" id="song-2">
          <%= cl_image_tag @vehicule2.photo.key %>
        </label>
        <label class="card" for="item-3" id="song-3">
          <%= cl_image_tag @vehicule3.photo.key %>
        </label>
      </div>
      <div class="player">
        <div class="upper-part">

          <div class="info-area" id="test">

            <label class="song-info" id="song-info-1">
              <div class="flex">
                <div class="title"><%= @vehicule1.marque %></div>
                <div class="title"><%= @vehicule1.modele %></div>
              </div>
              <div class="flex-bas">
                <div class="time"><%= number_with_precision(@vehicule1.kilometrage.to_i, precision: 0, delimiter: ' ', separator: '.') %> Km</div>
                <div class="carrou-link">
                  <%= link_to "voir+", vehicule_path(@vehicule1) %>
                </div>
              </div>
            </label>

            <label class="song-info" id="song-info-2">
              <div class="flex">
                <div class="title"><%= @vehicule2.marque %></div>
                <div class="title"><%= @vehicule2.modele %></div>
              </div>
              <div class="flex-bas">
                <div class="time"><%= number_with_precision(@vehicule2.kilometrage, precision: 0, delimiter: ' ', separator: '.') %> Km</div>
                <div class="carrou-link">
                  <%= link_to "voir+", vehicule_path(@vehicule2) %>
                </div>
              </div>
            </label>

            <label class="song-info" id="song-info-3">
              <div class="flex">
                <div class="title"><%= @vehicule3.marque %></div>
                <div class="title"><%= @vehicule3.modele %></div>
              </div>
              <div class="flex-bas">
                <div class="time"><%= number_with_delimiter(@vehicule3.kilometrage.to_i, delimiter: ' ', separator: '.', precision: 0) %> Km</div>


                <div class="carrou-link">
                  <%= link_to "voir+", vehicule_path(@vehicule3) %>
                </div>
              </div>
            </label>

          </div>
        </div>
      </div>
    </div>

  </div>

  <!-- script du carroussel entier -->
  <script>
    window.addEventListener('scroll', function() {
      var scrollPosition = window.scrollY;
      var scrollCarrou = document.querySelector('.carrou-body');

      if (scrollPosition > 1026) {
        scrollCarrou.classList.add('show');
      } else {
        scrollCarrou.classList.remove('show');
      }
    });
  </script>
</div>
