
<% if video_path("mainvideo.mp4").present? %>

  <div class="hero-video">
    <%= video_tag "mainvideo.mp4", type: "video/mp4", autoplay: true, controls: true, loop: true, muted: true, id: "home-videoo", preload: "auto", playsinline: true %>

    <div class="text-sur-video">
      <h1>Planète <span>a</span>lfa</h1>
      <h2>Cucq</h2>
    </div>

    <div class="ball-big-contener">
      <div class="ball-contener">
        <div class="ball">
          <div class="cheveron-down">
            <i class="fa-solid fa-chevron-down" style="color: #ffffff;"></i>
          </div>
        </div>
      </div>
    </div>

    <div class="home-gray-bar">
    </div>
  </div>

<% else %>
  <div class="hero-image">
    <%= image_tag "alfaMainImg.jpg" %>
  </div>
<% end %>









<!-- test carrou -->
<div class="carrou-body">

  <div>
    <h2>Dernier arrivage</h2>
  </div>


  <div class="carrou-container">

    <% @vehicules.each do |vehicule| %>
      <%= link_to vehicule_path(vehicule), class:"carrou-card" do%>

          <h3 class="carrou-title"><%= vehicule.marque %></h3>
          <h5 class="carrou-subtitle"><%= vehicule.modele %></h5>
          <div class="carrou-bar">
            <div class="carrou-emptybar"></div>
            <div class="carrou-filledbar"></div>
          </div>
          <div class="carrou-circle">
            <%= cl_image_tag vehicule.photo.key, height: 100, width: 140, crop: :fill, class: "carrou-img" %>
          </div>

      <% end %>
    <% end %>


  </div>

</div>


<script>
  const firstDiv = document.querySelector('.hero-video');
  const secondDiv = document.querySelector('.carrou-body');

  firstDiv.addEventListener('wheel', (event) => {
    if (event.deltaY > 0) {
      event.preventDefault();
      secondDiv.scrollIntoView({ behavior: 'smooth' });
    }
  });
</script>


<div class="carrou-body">
  <div class="container">
      <input type="radio" name="slider" id="item-1" checked>
      <input type="radio" name="slider" id="item-2">
      <input type="radio" name="slider" id="item-3">
    <div class="cards">
      <label class="card" for="item-1" id="song-1">
        <img src="https://images.unsplash.com/photo-1530651788726-1dbf58eeef1f?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=882&q=80" alt="song">
      </label>
      <label class="card" for="item-2" id="song-2">
        <img src="https://images.unsplash.com/photo-1559386484-97dfc0e15539?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=1234&q=80" alt="song">
      </label>
      <label class="card" for="item-3" id="song-3">
        <img src="https://images.unsplash.com/photo-1533461502717-83546f485d24?ixlib=rb-1.2.1&auto=format&fit=crop&w=900&q=60" alt="song">
      </label>
    </div>
    <div class="player">
      <div class="upper-part">
        <div class="play-icon">
          <svg width="20" height="20" fill="#2992dc" stroke="#2992dc" stroke-linecap="round" stroke-linejoin="round" stroke-width="2" class="feather feather-play" viewBox="0 0 24 24">
            <defs/>
            <path d="M5 3l14 9-14 9V3z"/>
          </svg>
        </div>
        <div class="info-area" id="test">
          <label class="song-info" id="song-info-1">
            <div class="title">Bunker</div>
            <div class="sub-line">
              <div class="subtitle">Balthazar</div>
              <div class="time">4.05</div>
            </div>
          </label>
          <label class="song-info" id="song-info-2">
            <div class="title">Words Remain</div>
            <div class="sub-line">
              <div class="subtitle">Moderator</div>
              <div class="time">4.05</div>
            </div>
          </label>
          <label class="song-info" id="song-info-3">
            <div class="title">Falling Out</div>
            <div class="sub-line">
              <div class="subtitle">Otzeki</div>
              <div class="time">4.05</div>
            </div>
          </label>
        </div>
      </div>
      <div class="progress-bar">
        <span class="progress"></span>
      </div>
    </div>
  </div>
</div>
