<!DOCTYPE html>
<html>
  <head>
    <title>Planète alfa - Véhicules Neufs et Occasions Spécialisé Alfa Roméo</title>
    <meta name="description" content="Découvrez notre gamme de véhicules neufs et d'occasions spécialisée dans les voitures Alfa Roméo. Nous proposons également un service de réparation et d'entretien.">
    <meta name="keywords" content="Planète alfa, Alfa Roméo, véhicules neufs, occasions, réparation, entretien">
    <meta name="author" content="Planète alfa">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

  <meta property="og:type" content="website" />
  <meta property="og:url" content="planete-alfa.fr" />
  <meta property="og:title" content="Planète alfa - Véhicules Neufs et Occasions Spécialisé Alfa Roméo" />
  <meta property="og:image" content="URL de l'image" />
  <meta property="og:description" content="Découvrez notre gamme de véhicules neufs et d'occasions spécialisée dans les voitures Alfa Roméo. Nous proposons également un service de réparation et d'entretien." />
  <meta property="og:site_name" content="Planète Alfa" />




    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    <%= stylesheet_link_tag "application", "data-turbo-track": "reload" %>
    <%= javascript_include_tag "application", "data-turbo-track": "reload", defer: true %>
    <link href="https://api.mapbox.com/mapbox-gl-js/v2.11.0/mapbox-gl.css" rel="stylesheet">
    <script src="https://api.mapbox.com/mapbox-gl-js/v2.11.0/mapbox-gl.js"></script>
  </head>

  <body>
    <%= render "shared/blacknavbar" %>
    <%= render "shared/petitenavbar" %>
    <%= render "shared/flashes" %>
    <%= yield %>
    <%= render "shared/footer" %>
    <%= render "shared/footerbas" %>

  </body>


</html>
